@{
    ViewBag.Title = "Hakkımızda";
}
<h2 class="header2">@ViewBag.Title.</h2>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/myStyle.css")">
    <body id="About">
        <div class="adiv">
            <h3 class="cbold">Warehouse Managment System</h3>
            <div>
                <address>
                    <strong>Kemal Can Erdemir:</strong>   <a href="mailto:1900004483@stu.iku.edu.tr">1900004483@stu.iku.edu.tr</a><br />
                    <strong>Arda Tekin:</strong> <a href="mailto:1900002624@stu.iku.edu.tr">1900002624@stu.iku.edu.tr</a>
                </address>
            </div>
        </div>
    </body>
</head>
</html>