@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/myStyle.css")">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <body id="Main">
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">Warehouse Managment System</h1>
            <p class="space"></p>
            <hr class="w3-border-black" style="margin:auto;width:80%">
            <p class="space"></p>
            <p class="w3-large w3-center">This is a warehouse managment website but to use the website you need to <a href="~/Login/LoginPage">login</a>. If you don't have an account you can <a href="~/Login/RegisterPage">register</a> but it needs to approved by a admin.</p>
        </div>
    </body>
</head>
</html>